body {
    background-color: #D9D4CC;
    font-family: "Montserrat";
    max-width: 100%;
    font-size: 16px;
    
}

.aboutUs {
    padding-top: 200px;
    padding-bottom: 50px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.aboutUs--container{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
    
}

.aboutUs--left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.aboutUs--header{
    color: #735F46;
    font-size: 58px;
    font-weight: bold;
    max-width: 618px;
    margin-top: 15px;
}
.aboutUs--buildFuture{
    font-weight: normal;
    color: #735F46;
    font-size: 20px;
}

.aboutUs--button {
    background-color: #735F46;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}
.aboutUs--button:hover {
    opacity: 0.8;
}

.aboutUs--right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    margin-top: 30px;
}

.aboutUs--person{
    max-width: 632px;
    height: 274px;
}


.aboutUs--cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.aboutUs--paragraph {
    color: #735F46;
    font-weight: 400;
    font-size: 20px; 
    line-height: 1.5;
    max-width: 70%;
    margin: 20px auto;
    text-align: justify;
    text-justify:inter-word;
    word-wrap: break-word;
}

.aboutUs--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 40px 0;
    padding: 20px;
}

.card {
    background-color: white;
    width: 100%; 
    max-width: 254px;
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.card--text {
    color: #735F46;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}

.card--image {
    width: 50px; 
    height: 50px;
    border-radius: 9999px;
}

.card--text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card--header {
    text-align: center;
    font-weight: 600;
    font-size: 1rem; 
    color: #735F46;
}

.card--footer {
    font-weight: 400;
    font-size: 0.875rem; 
    color: #735F46;
} 

@media (max-width: 860px) {
    .aboutUs {
        background-color: white; 
        padding: 0%;
    }

    .aboutUs--container {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        gap: 30px;
    }

    .aboutUs--header {
        font-size: 40px; 
    }

    .aboutUs--buildFuture {
        font-size: 18px; 
    }

    .aboutUs--button {
        background-color: #827979; 
        color: white; 
        width: 195px; 
        height: 50px; 
        font-size: 14px; 
        margin: 0 auto;
    }

    .aboutUs--paragraph {
        color: #735F46;
    }

    .aboutUs--container {
        flex-direction: column;
        align-items: center;
    }

    .aboutUs--left {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }
    .aboutUs--right {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }
    .aboutUs--person{
        margin: 0 auto;
        max-width:100%;
}

}

/*Seccion de Acerca de nosotros*/

.aboutUs--container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    font-weight: bold;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

/*Seccion de valores*/
.values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#ourValues {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #735F46;
    padding-bottom: 20px;
} 

#card--values{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    background-color: #FFFF;
    align-items: center;
    height: 356px;
    width: 273px;
    margin: 0 auto;
    color: #735F46;
}

#image {
    display:flex;
    flex-wrap: wrap;
    height: 231px;
    width: 253px;
    margin-bottom: 50px;
    
} 

.misionVision {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#vm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #735F46;
}

#mv--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    align-items:center;
    font-weight: 400;
    font-size: 20px;
    width: 540px;
    margin: 40px;
    color: #735F46;
}

@media ( max-width: 700px){

    .aboutUs--container2 .aboutUs{
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    #ourValues {
        font-size: 40px;
    }

    #mv--container {
        width: 280px;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media ( max-width <= 480px) {

    #ourValues {
        font-size: 35px;
    }

    .aboutUs--container2 .aboutUs {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    #vm {
        font-size: 35px !important;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #mv--container {
        width: 320px;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #image {
            width: 231px;
            height: 231px; 
    }


}

/*Inicia seccion de Colaboradores*/

@import "./GuiaDeDiseno.css"; /* Importacion de los estilos base */
.section--About p{
    font-size: 13px;
    color: #737373;
}

.section--About h2{
    color: #735F46;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.container--colaboradores{
    width: 100%;
    display: flex;
    margin-top: 0 auto;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.section--About{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 20px;
}


.section--About .card{
    
    height: 240px;
    width: 470px;
    border-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.section--About .card img{
    width: 220px;
    height: 220px;
    margin-left: -12px;
    border-radius: 9999px; 
}
.section--About .card .logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: initial;
}
.section--About .color2{
    color: var(--sand);
}


.section--About .sideCard{
    margin-top: 200px;
}
.section--About .sideCardMiddle{
    margin-top: 150px;
}

.section--About .centerCard{
    margin-top: -50px;
}
.section--About .logo--container{
    display: flex;
    justify-content: center;
}

@media (width < 1446px) { /* Diseño responsivo para tablet */
    .section--About .sideCard,
    .section--About .sideCardMiddle,
    .section--About .centerCard,
    .section--About .centerCardEnd {
      margin-top: initial;
      margin-bottom: 10px;
    }
  
    .container--colaboradores {
        max-width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section--About{
        justify-content: center;
    }
}


@media (width <= 480px ) { /* Diseño responsivo para celular */
    .section--About{
        margin-bottom: 50px; 
        background-color: var(--cement);
    }
    .section--About h2{
        color: var(--pot);
        font-size: 40px !important; 
    }

    #ricardo, #monica, #claudia, #miguel, #alan, #Abraham, #pablo, #damian, #gabriel, #sebastian{
        background-color: white;
        height: 450px;
        width: 316px; 
        display: block;
        text-align: center;
        border-radius: initial;
        margin-bottom: 30px;
    }

    #ricardo img, #monica img, #claudia img, #miguel img, #alan img, #Abraham img, #pablo img, #damian img, #gabriel img, #sebastian img {
        width: 220px; 
        height: 220px; 
        border-radius: initial;
    }
    
    #ricardo .logo, #monica .logo, #claudia .logo, #miguel .logo, #alan .logo, #Abraham .logo, #pablo .logo, #damian .logo, #gabriel .logo, #sebastian .logo{
        width: 24px;
        height: 24px; 
    }

    #ricardo h4, #monica h4, #claudia h4, #miguel h4, #alan h4, #Abraham h4, #pablo h4, #damian h4, #gabriel h4, #sebastian h4{
        font-size: 16px;
    }
    #ricardo p, #monica p, #claudia p, #miguel p, #alan p, #Abraham p, #pablo p, #damian p, #gabriel p, #sebastian p{
        font-size: 14px;
}
}

@media (width <= 320px ) {
    .section--About{
        margin-bottom: 25px; 
        background-color: var(--cement); 
    }
    .section--About h2{
        color: var(--pot);
        font-size: 30px !important;
    }

    #ricardo, #monica, #claudia, #miguel, #alan, #Abraham, #pablo, #damian, #gabriel, #sebastian{
        background-color: white;
        height: 360px;
        width: 240px; 
        display: block;
        text-align: center;
        border-radius: initial;
        margin-bottom: 10px;
    }

    #ricardo img, #monica img, #claudia img, #miguel img, #alan img, #Abraham img, #pablo img, #damian img, #gabriel img, #sebastian img {
        width: 124px; 
        height: 124px; 
        border-radius: initial;
    }
    
    #ricardo .logo, #monica .logo, #claudia .logo, #miguel .logo, #alan .logo, #Abraham .logo, #pablo .logo, #damian .logo, #gabriel .logo, #sebastian .logo{
        width: 15px;
        height: 15px; 
    }

    #ricardo h4, #monica h4, #claudia h4, #miguel h4, #alan h4, #Abraham h4, #pablo h4, #damian h4, #gabriel h4, #sebastian h4{
        font-size: 14px;
    }
    #ricardo p, #monica p, #claudia p, #miguel p, #alan p, #Abraham p, #pablo p, #damian p, #gabriel p, #sebastian p{
        font-size: 10px;
        margin-bottom: 5px;
}
/* Falta poner los limetes aqui  */
}


.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100% !important;
    background-color: #735F46;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 30px;
}


.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    max-width: 700px;
    margin-left: 80px;
}
.text-section h5 {
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.text-section h2 {
    margin: 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.text-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.text-section button {
    background-color: #735F46;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.text-section button:hover{opacity: 1; background-color:#928474;}

.image-section{
    display: flex;
    justify-content: flex-end;
    width: 800px;
    height: 400px;
    margin-right: -35px;
}

.image-section img {
    max-width:400px;
    height: 400px;
    display: flex;
}


@media(max-width: 768px){
    .image-section {
    display: none !important;
    }
    .text-section{
        margin: 40px;
    }
    .text-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
    text-align: center;
    }
}
    .text-section h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        font-style: normal;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.2px;

    }
    .text-section p {
        font-size: 14px;  
        text-align: center; 
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;

}

@media(max-width: 990px){
    .image-section {
        max-width: 200;
        height: 300;
        display: flex;
        flex-shrink: 1;
            }
    }
    .text-section h1 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }
    .text-section h2 {
        margin: 10px 0;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .text-section p {
        margin: 20px 0;
        font-size: 14px;  
        text-align: center; 
}
