@import "GuiaDeDiseno.css"; /* Importacion de los estilos base */
.section--About p{
    font-size: 13px;
    color: #737373;
}

.section--About .card{
    background-color: var(--smoke);
    height: 240px;
    width: 470px;
    border-radius: 20px;
    margin-left: 20px;
}

.section--About .card img{
    width: 210px;
    margin-left: -12px;
    border-radius: 20px;
}
.section--About .card .logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: initial;
}
.section--About .color2{
    color: var(--sand);
}


.section--About .sideCard{
    margin-top: 200px;
}
.section--About .sideCardMiddle{
    margin-top: 150px;
}

.section--About .centerCard{
    margin-top: -50px;
}
.section--About .centerCardEnd{
    margin-left: 510px;
    margin-top: -50px;
}
.section--About .logo--container{
    display: flex;
    justify-content: center;
}


@media (width < 1446px) { /* Diseño responsivo para tablet */
    .section--About .sideCard,
    .section--About .sideCardMiddle,
    .section--About .centerCard,
    .section--About.centerCardEnd {
      margin-top: initial;
      margin-bottom: 10px;
    }
  
    .section--About .centerCardEnd {
      margin-left: 20px;
    }
    .section--About{
        justify-content: center;
    }
  }
  

@media (width < 415px ) { /* Diseño responsivo para celular */
    .section--About{
        background-color: var(--cement);
    }
    .section--About h2{
        color: var(--pot);
    }

    #ricardo, #monica, #claudia, #miguel, #alan, #Abraham, #pablo, #damian, #gabriel, #sebastian{
        background-color: white;
        height: 450px;
        width: 316px;
        display: block;
        text-align: center;
        border-radius: initial;
        margin-top: 20px;
        margin-left: initial;
    }

    #ricardo img, #monica img, #claudia img, #miguel img, #alan img, #Abraham img, #pablo img, #damian img, #gabriel img, #sebastian img {
        width: 316px;
        height: 231px;
        border-radius: initial;
    }
    
    #ricardo .logo, #monica .logo, #claudia .logo, #miguel .logo, #alan .logo, #Abraham .logo, #pablo .logo, #damian .logo, #gabriel .logo, #sebastian .logo{
        width: 24px;
        height: 24px;
    }

    #ricardo h3, #monica h4, #claudia h3, #miguel h3, #alan h3, #Abraham h3, #pablo h3, #damian h3, #gabriel h3, #sebastian h3{
        font-size: 16px;
    }
    #ricardo p, #monica p, #claudia p, #miguel p, #alan p, #Abraham p, #pablo p, #damian p, #gabriel p, #sebastian p{
        font-size: 14px;
    }
}