body{
    font-family: "Montserrat";
    color: #735F46;
}

.servicio h4{
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 18px;
letter-spacing: 0.2px;
color: #8C7E6C;
text-align: center;

}

.servicio p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #735F46;;
text-align: center;
}

.servicio:hover {
    transform: scale(1.05); 
}

#store-estrella{
    width: 20px;
    color: darkgoldenrod;
    font-size: 20px;
   margin: 0;
   display: none;
}




#store--desc {
  display: flex;
  justify-content: space-evenly;
  width: 100% !important;
  margin: 0 auto;
  flex-wrap: wrap;
}

.servicio {
    display: flex;
    align-items: center;
    font-size: 10px;
    max-width: 670px;
    height: 300px;
    border-style: solid;
    border-color: #858585;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-width: 1px;
}

 
.servicio-imagen img {
    max-width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #858585;
    border-width: 1px;
}

.servicio-imagen {
    max-width: 300px;
    height: 300px;
    
}

.servicio-info {
    display: flex;
    height: 300px !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#boton--contactar{
    background-color: #735F46;
    font-family: "Montserrat";
    font-size: 13px;
    width: 150px;
    height: 40px;
    color:#f2f2f2;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none;
    border: none;
    margin: 0 auto;
    border-radius: 5px;

}

#boton--contactar:hover{
    opacity: 0.7;
}

#boton--corazon{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: darkred;
    border: none;
    background-color: #f2f2f2;
    text-align:center;
    align-items:center;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 40px;
    left: 90px;

}
#boton--ojo{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #f2f2f2;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 137px;

}

@media screen and (max-width: 600px){
    .servicio {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 10px;
   }
}




