        
body {
    margin: 0;
    padding: 0;
    background-color: #D9D4CC;
    box-sizing: border-box;
    color: #735f46 !important;
}

.main--container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.first--container{
    margin-top: 100px;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.header--container {
    max-width:  100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images--container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.image--container {
    max-width: 400px;
    max-height: 400px;
    
}

.image--container:hover {
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.second--container{
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
    margin-top: 40px;
}

figure{
    max-width: 100%;
}

.figure--image {
    width: 100%;
    height: 300px;
    display: block;
    color: #735f46;
}
.figure--image2 {
    display: none;
}


.img--container:hover {
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

@media (max-width: 600px){
    .figure--image2 {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    .figure--image {
        display: none;
   
    }
}