body{
    font-family: "Montserrat";
    color: #735F46;
}


h4{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2px;
color: #8C7E6C;
}

p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #858585;
}

#store-estrella{
    width: 20px;
    color: darkgoldenrod;
    font-size: 20px;

}

.div--container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px
}

#store--desc:hover{
    transform: scale(1.05);

}


#store--desc {
padding: 180px;
  display: flex;
  justify-content: space-evenly;
  width: 100% !important;
  margin: 0 auto;
  flex-wrap: wrap;
  border: none;
  overflow: hidden;
  gap: 20px !important;

}

.servicio {
    display: flex;

    flex-direction: row;

    align-items: center;
    font-size: 10px;
    max-width: 670px;
    height: 300px;
}

.servicio p{
    text-align: left;
    justify-content:space-around;
}
.servicio h4{
    font-size: 15px;
}
 
.servicio-imagen img {
    max-width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #858585;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-width: 1px;
}

 
.servicio-imagen img {
    max-width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #858585;
    border-width: 1px;
}


.servicio-imagen {
    max-width: 300px;
    height: 300px;
    
}

.servicio-info {
    display: flex;
    height: 311px !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#boton--contactar{
    background-color: #735F46;
    font-family: "Montserrat";

    font-size: 10px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color:#f2f2f2;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none;
    border: none;
    margin: 0 auto;
    border-radius: 5px;

}

#boton--contactar:hover{
    opacity: 0.7;
}

#boton--corazon{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: darkred;
    border: none;
    background-color: #f2f2f2;
    text-align:center;
    align-items:center;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 40px;
    left: 90px;

}
#boton--ojo{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #f2f2f2;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 137px;

}


@media screen and (max-width: 600px){
    .servicio {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 10px;
   }
}
