/*************************************Sección del body*************************************** */
body {
    background-color: #D9D4CC;
    font-family: "Montserrat";
    color: #8C7E6C;
    font-size: 12px;
}

/**************************************Sección de contacto***************************************/
.text-center {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.text-center h2 {
    color: #735F46;
    font-size: 40px;
    font-weight: bold;
}

.text-center p {
    color: #8C7E6C;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}

/****************************************Sección del formulario **************************************/
.main--form {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
}

.form--inputs {
    max-width: 600px;
    padding-left: 10px;
    background-attachment: #E6E6E6;
}

.form--inputs input {
    max-width: 450px;
}

.form--inputs textarea {
    max-width: 450px;
}

#userName::placeholder {
    color: #D9D4CC;
}

#userEmail::placeholder {
    color: #D9D4CC;
}

#userPhone::placeholder {
    color: #D9D4CC;
}

#userCompany::placeholder {
    color: #D9D4CC;
}

#userComment::placeholder {
    color: #D9D4CC;
}

#form--checkbox {
    width: 5%;
    margin: 10px;
    padding: 0;
}

#form--statement p {
    text-align: justify;
    justify-content: center;
}

.contact--information {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}

.form--buttom {
    display: flex;
    justify-content: center;
    /* Centra el botón horizontalmente dentro del contenedor */
}
.form--buttom button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #f2f2f2;
    background-color: #735F46;
    font-family: "Montserrat";
    width: 170px;
    height: 45px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}

.form--buttom button:hover {
    color: #735F46;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

/*********************************Seccion Card*************************************/
#mycard {
    border: 2px #DCDCDC;
    color: #735F46;
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
}
#mycard img{
    max-width: 40px;
}
.image--head{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-body {
    margin-top: 0;
}

@media (max-width: 800px) {
    body {
        background-color: #ffffff
    }

    #mycard {
        display: none;
    }
}
