/*************************************Secci贸n del body*************************************** */
body {
    background-color: #D9D4CC;
    font-family: "Montserrat";
    color: #8C7E6C;
    font-size: 12px;
}

/**************************************Secci贸n de contacto***************************************/
.text-center {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 0px;
    color: #8C7E6C;
}

.text-center h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600; 
    letter-spacing: 0.2px;
    color: #735f46;
    padding-top: 140px;
    padding-bottom: 0%;
}


.text-center p {
    color: #735F46;
    text-align:justify;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 24px;
    font-weight: 400;
     letter-spacing: 0.2px;
}

/****************************************Secci贸n del formulario **************************************/
.main--form {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 60px;
    margin: 0 auto;
    color: #735F46;
    justify-content:center;
    gap: 40px;
   padding-top: 25px;
}
.form--body{
    border: 2px solid #d3c5b0;
    border-radius: 8px;
    padding: 3px, 3px, 3px, 5px;
    width: 1000px;
    height: 650px;
}
#border{
    justify-content: center;
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 740px;
    margin-bottom: 0%;
}
.form--inputs {
    max-width:100%;
    padding-left: 20px;
    background-attachment: #E6E6E6;
    width: 100%;
}

.form--inputs input {
    max-width: 100%;
    border-radius: 3px;
    border-color: #D9D4CC;
    border-radius: 8px;
    margin-left: 10px;
  
}

.form--inputs textarea {
    max-width: 750px;
    margin-left: 10px;
    width: 100%;
}

#userName::placeholder{
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#userEmail::placeholder {
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#userPhone::placeholder {
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#userCompany::placeholder {
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#userComment::placeholder {
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#userComment{
    border-color: #D9D4CC;
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

#form--checkbox {
    width: 5%;
    margin-right: 10px;
    padding: 0;
}

#form--statement p {
    text-align: justify;
    justify-content: center;
    color: #735F46;
    text-align:justify;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 400;
     letter-spacing: 0.2px;
}

.contact--information {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}

.form--buttom {
    display: flex;
    margin-left: 30%;
    margin-bottom: 80px;
    /* Centra el bot贸n horizontalmente dentro del contenedor */
}
.form--buttom button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #f2f2f2;
    background-color: #735F46;
    font-family: "Montserrat";
    width: 170px;
    height: 45px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}

.form--buttom button:hover {
    color: #735F46;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}
.mb-3 p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color:#8C7E6C;
    list-style: none;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 10px;
    width: 500px;
   
}


/*********************************Seccion Card*************************************/
#mycard {
    border: 2px #DCDCDC;
    color: #735F46;
    font-size: 14px;
    text-align:justify;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;  
    height: fit-content;
    max-width: 650px;
    padding-right: 20px;
}

#mycard img{
    max-width: 40px;
}
.image--head{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-body{
    padding: 0%;
}
.card-body p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 100%;
    padding: 0%;
    margin-bottom: 3px;
}


/******************************** responsividad*********************/

@media (max-width: 900px) {

    .text-center{
        max-width: 100%;
        padding-bottom: 50px;
    }
    .form--body{
    border: 2px solid #d3c5b0;
    width: 500px;
    }
    #border{
        align-items: center;
        height: 600px;
        width: 100%;
    }
    .form--inputs {
        max-width: 374px;
        padding-left: 10px;
        background-attachment: #E6E6E6;
    }
    
    .form--inputs input {
        max-width: 374px;
        border-radius: 3px;
        border: 2px solid #d3c5b0;
        border-radius: 8px;
      
    }
    
    .form--inputs textarea {
        max-width: 374px;
    }
    .mb-3 p{
        display: none;
    }
   
    #mycard {
        display: none;
    }
    
}
