/* 
.Diseño-gráfico-1-hex { color: #F2F2F2; }
.Diseño-gráfico-2-hex { color: #BFBAB0; }
.Diseño-gráfico-3-hex { color: #D9D4CC; }
.Diseño-gráfico-4-hex { color: #735F46; }
.Diseño-gráfico-5-hex { color: #8C7E6C; }
*/
/* Index */
body{
    background-color: #D9D4CC;
    font-family: "Montserrat";
    font-size: 14px;
}

/*Seccion de contacto*/
.container--contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding-top: 50px;
   

}



/* sección del formulario */
.main--form{
    display:flex;
    flex-direction: row;
    padding-left: 25%;
    
}
.form--inputs{
    height: 860px;
    width: 500px;
    padding-left: 10px;
    margin-right: 100px;
    background-attachment: #E6E6E6;
}
/*Seccion Card*/

/* Sección del footer */
.main--footer {

    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    text-align: left;
    font-family: "Montserrat";
    color: #735F46;
    padding-left: 5%;
    padding-right: 5%;
    position:static;
    bottom: 0cm;
    margin:none;
    width: 100%; 
    border-radius: 5px;
}
.footer--sections{
    width: 50%;
}
#footer--section1{
    padding-right: 20px;
}
.main--footer a {
    text-decoration: none;
    color: #735F46;
}

#redes--sociales{
    padding-top: 20px;
}
#redes--sociales img {
    width: 20px;
}
.btn1 {
text-align: center;
justify-content: center;

}

.btn:hover{
    cursor: pointer;
    text-decoration-color: none;
    background-color: #735F46;
}

.btn {
    text-align: center;
    color: #f2f2f2;
    background-color:#735F46 ; 

    font-family: "Monserrat";
    width: 233px;
    height: 63px;
    padding: 25px,28px,28px,25px;
    font-size: 24px;
    text-decoration: none;
}
#navbar10{
    
    display:flex;
    color: red;
    width: 100px;
    height: 100px;
    
}
/* about us */
/* propuesta cada página tendría su hoja de estilos  */
.image-email img{
    width: 30%;
    height: auto;
    
    
}
.image-head{
    display: flex;
    flex-direction: row;
    gap:10px;
    
}