/* Importamos la fuente Monserrat de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Definimos la paleta de colores */
:root {
    --shell: #f2f2f2; /* Cascaron */
    --smoke: #bfbab0; /* Humo */
    --cement: #d9d4cc; /* Cemento */
    --pot: #735f46; /* Cazuela */
    --sand: #8C7E6C; /* Arena */
}

/* Definimos el tipo y tamaño de fuente */
body{
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px !important;
}
h1{
    font-size: 58px;
    color: var(--pot);
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0.2px;
 
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600; 
    letter-spacing: 0.2px;
    color: var(--pot);
}
h3{
    font-size: 20px;
    color: var(--pot);
    font-weight: 700; 
    letter-spacing: 0.1px;
    line-height: 32px;
}


/* Se crea un metodo para darle estilos al boton color cafe y letra blanca reutilizable */
.buttonBrownWhite--container{
    color: white;
    background-color: var(--pot);
    border: none;
    width: 205px;
    height: 62px;
    font-weight: 700;
}

.button{
    background-color: var(--pot);
    color: white;
    letter-spacing: 0.2px;
    width: 200px;
    height: 62px;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    border: #735f46;
    border-inline: 2px;
    border-radius: 50px;
    
}

button:hover{
    cursor: pointer;
	background: #bfbab0;
    border-bottom: 2px solid #D9D4CC;
    border-right: 2px solid #D9D4CC;
    border-left: 1px solid #D9D4CC;
    border-top: 1px solid #D9D4CC;
    color: #735f46;
} 



/* Se define el estilo de la navbar */
/* Contenedores */
.navBar--container{ 
    display: flex;
    color: var(--sand);
    justify-content: space-around;
    align-items: center;
    height: 120px;
    box-shadow: 0px 0px 5px 0px #bfbab0;
    position:fixed;
    max-width: 100%;
    width: 100%;
    background-color: white;
    z-index:1;
}

.links--container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
 
}

/* Botones */

.buttonNavBar{
    color: var(--sand);
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
   
}
.container-form input{
    border-color: #D9D4CC;
}
.container-form input::placeholder{
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;

}

.container-form input:hover{
background-color: #FAFAFA;
color: #735F46;
border-color: #8C7E6C;
}

.container-form input::placeholder{
    font-family: "Montserrat";
    color: #D9D4CC;
    font-size: 12px;
}

.container-form input::file-selector-button  {
    background-color: #FAFAFA;
    color: #8C7E6C;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 20px;
    font-weight: 600; 
    letter-spacing: 0.2px;
    border-bottom: 2px solid #D9D4CC;
    border-right: 2px solid #D9D4CC;
    border-left: 1px solid #D9D4CC;
    border-top: 1px solid #D9D4CC;
    transition:  0.5s;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    max-width: fit-content;
 
}

.container-form input::file-selector-button:hover{
    cursor: pointer;
	background-color:#D9D4CC;
    color: #735F46;


}


@media (max-width: 950px){



    .container-form input::file-selector-button {
        display:flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;


        
    }

}
/* Texto de los botones */

.BrandName a{
     /* Construclick */
    text-decoration: none ;
    color: #8C7E6C;
     font-style: normal;
     font-weight: 700;
     font-size: 38px;
     line-height: 45px;
     letter-spacing: 0.1px;
     padding: 1%;
}

.item{
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--sand);
    margin-top: 5px;
    font-size: 20px;
}
/* Barra de busqueda */
.searchNavBar{
    border: none;
    height: 50px;
    background-color: var(--shell) ;
   

}
#usuarios{
    color: var(--sand);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width:700px;
    
}
#navBarMobile{
    display: none;
}
@media only screen and (max-width: 1026px) {
   #barraDebusqueda{
    display: none;
   }
}
/* Responsividad de la navbar */
@media only screen and (max-width: 1250px) {
    #navBarWeb{
        display: none;
    }
    #navBarMobile{
        display: flex;
        position:fixed;
        z-index:1;
    }
    #menuHamburguesa{
        height: 40px;
        border: none;
    }
    #menu{
        text-align: center;
        background-color: white;
    }
    #btnCategorias{
        font-size: 25px;
    }
    .item{
        margin-top: 15px;
        font-size: 25px;
    }
    #btnlupa{
        height: 35px;
        border: none;
    }
    .BrandName a{
        font-size: 30px;
    }

    
}

/* Se definen los estilos del footer */
/* Contenedor */
footer{
    height: 168px;
    display: flex;
    color: var(--pot);
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 0px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 0px #bfbab0;
    z-index:1;
}

@media only screen and (max-width: 1250px) {
    footer {
        box-shadow: 0px 0px 5px 0px #bfbab0;
        height: 100%;
    }
}
/* Subtitulos */
footer h2 a{
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--sand);
    letter-spacing: 0.1px;
}
/* Contenedor de los links */
footer div{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 294px;
    margin-top: 20px;
}
/* Diseño de los links */
footer a{
    text-decoration: none;
    font-size: 14px;
    color: var(--pot);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/*sección de estilos de alertas*/

.alert--container{
    display: flex;
    flex-direction: row;
}

#saved--alert{
    font-family: "Montserrat";
    align-items: center;
    color:#735F46;
    background-color: white;
    border: none;
    border-radius: 0%;
    text-align: center;
}
#name--alert, #email--alert, #phone--alert, #text--alert, #mesage--alert{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 11px;
     border: none;
    background: none !important;
    height: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    color: darkred;
    position: relative;
    bottom: 15px;
    left: 8px;
}

#img--alert{
    color: darkred;
    position: relative;
    bottom: 15px;
    font-size: 8px;
}

