.body {
    background-color: #D9D4CC;
    box-sizing: border-box;
    /* display: flex;
    align-items: center; */
    /* height: 100vh;  */
    color: #735F46;

}

.form--container {
    max-width: 784px;
    background-color: white;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.option{
    color: #735F46;
}

.btn:hover {
    opacity: 0.9;
}

.legend{
    color:#735F46;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
