.body {
    background-color: #D9D4CC;
    box-sizing: border-box;
    /* display: flex;
    align-items: center; */
    /* height: 100vh;  */
    color: #735F46;

}
section{
   height: 870px;
   max-height: 100%;
   padding-top: 197px;
   padding-bottom: 0px;

}

.form--container {
    max-width: 784px;
    background-color: white;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    border: 2px solid #d3c5b0;
}

.option{
    color: #735F46;
}

.btn:hover {
    opacity: 0.9;
}

.legend{
    color:#735F46;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

/***********alertas de bootstrap****************/
#welcomeUser{
    font-family: "Montserrat";
    align-items: center;
    color:#735F46;
    background-color: white;
    border: none;
    border-radius: 0%;
    position: relative;
    top: 6px;
}
#welcomeUser h4{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}
#welcomeUser p{
    text-align: center;
}
#wrongMail--alert{
font-family: "Montserrat";
font-weight: 600;
 border: none;
background: none !important;
height: fit-content !important;
margin: 0 !important;
padding: 0 !important;
position: relative;
top: -40px;
text-align: center;
color: darkred;
}

#wrongPassword--alert{
    font-family: "Montserrat";
    font-weight: 600;
     border: none;
    background: none !important;
    height: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: -10px;
    text-align: center;
    color: darkred;
}

#unexistingUser--alert{
    font-family: "Montserrat";
    font-weight: 600;
     border: none;
     text-align: center;
     width: 74%;
     position: relative;
     left: 13%;
     bottom: 500px;
     background-color: white;
     color: darkred;
}
