@import url(GuiaDiseño.css); /* Importo la guia de diseño */
main{ /* Diseñp de la imagen y los textos */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Pagina_Principal/FondoWebPaginaPrincipal.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 870px;
    text-decoration: none;
    color: white;
}
section{ /* Color y posicion de los textos */
    color: white;
    text-align: center;
    text-decoration: none;
}
section a{
text-decoration: none;
color: white;
}
section h1{
    font-weight: 700;
}
