body {
    background-color: #ffffff;
    font-family: "Montserrat";
}

.form-registroPrestador{
    display:initial;

    position:relative;
}

.form-registroPrestador-container{
    display:initial;
    position:relative;   
}

.container-form{
    border-color: #735F46;
    border-radius: 5px;
    border-style: solid;
    width:fit-content;
    height: fit-content;
    position: relative; 
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 5%;
    max-width: 100%;
    columns: 2;
    padding: 2%;


}

.text-center {
    margin: 0%;
    max-width: 100%;
    padding: 1% 1% 1% 1%;
    display: initial;
    position: relative;
}

.text-center h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #735F46;
    margin: 0%;
    padding: 3% 1% 0% 1%;

}

.form-list{
  
        list-style: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color:#735F46; 
        padding: 2% 4% 2% 4%;
}

.input-nombre{
    max-width: min-content;
    
}
.input-foto li{
    max-width: min-content;
    display:list-item;
}

input[type=file]::-webkit-file-upload-button {
    display:list-item;
  max-width: min-content;
    -webkit-appearance: none;

  }

   

input[type=file]:after {
    display:list-item;
    max-width: min-content;
        left: 0%;
        margin-left:0px;
        padding: 0px 0px 0px;
        -webkit-appearance: none;
   
    }  
       

.form-label{
    max-width: min-content;
    border: 1px solid #ccc;
    padding: 0%;
    cursor: pointer;
    background-color: #735F46;
    color: #D9D4CC;
    margin:0%;
    display:list-item;
    
}




/*placeholder*/

#userName::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#userEmail::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#contraseña::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#confirmaContraseña::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#userPhone::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}
