body {
    background-color: #ffffff;
    font-family: "Montserrat";
    color: #8C7E6C;
    font-size: 12px;
}

.text-center {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-center h1 {
    color: #735F46;
    font-size: 40px;
    font-weight: 600;
}

.container {
    max-width: 1200px; /* Ajusta el ancho del contenedor */
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #d3c5b0;
    margin: 0 auto;
    
   
}
/* tamano de columnas*/

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #3b2a1a;
    margin-bottom: 5px;
    text-align: justify;
}

/*placeholder*/

#userName::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#userEmail::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#contraseña::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#confirmaContraseña::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

#userPhone::placeholder {
    color: #D9D4CC;
    font-size: 12px;
}

/*Subir archivo*/

.custom-file-upload{ 
    font-family: "Montserrat";
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Ajuste de botones*/

#buttons {
    padding-left: 75px;
    margin-top: 15px;
    border-color: #ffffff;
}
.btn-primary {
    
    color: #ffffff;
    background-color: #735F46;
    font-family: "Montserrat";
    width: 60px;
    height: 35px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 45px;
    border-color: #ffffff;
    margin-right: 40px;
    
}

.btn-primary.active {
    /* Estilos para el botón activo */
    background-color: #ccc;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
.form--buttom2 {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.send--info{
    color: #ffffff;
    background-color: #735F46;
    font-family: "Montserrat";
    width: 80px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 45px;
    border-color: #ffffff;
    margin-right: 40px;
}

@media (max-width: 576px){
    .form-grid{
        grid-template-columns: 1fr;
    }
    .grid-item{
        width: 100%;
    }

}

@media (max-width: 576px){
    .container{
        padding: 10px;
    }

    .form-grid{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-item{
        width: 100%;
    }
    .form--buttom2 button {
        width: 100%;
        padding: 15px;
        
    }

    .custom-file-upload label {
        width: 100%;
        padding: 10px;
        text-align: center;
    }




}
